extends layout
block content
    h1= title
    p.
        Welcome to #{title}
    div.container(style="margin: 0;")
        div#repository
            strong source repository: 
            = repository
            p
        #chart
        table.table.table-bordered.table-striped
            thead
                tr
                    th.
                        Diff
                    th old commit
                    th new commit
                    th old filename
                    th new filename
                    th origin line
                    th destination line
                    th number of lines
            tbody
                - for (var x = 0; x < diffs.length; x++)
                    for move in diffs[x]
                        tr
                            td= x
                            td= move.old_commit
                            td= move.new_commit
                            td= move.old_filename
                            td= move.new_filename
                            td= move.origin_line
                            td= move.destination_line
                            td= move.num_lines

        script.
            var data = !{JSON.stringify(diffs)}
            var mapped = data.map(function (set) { 
                return set.reduce(function (sum, val) {
                    return sum + val.num_lines;
                }, 0)
            });
            console.log(mapped);
            var chart = c3.generate({
                bindto: '#chart',
                data: {
                    json: {
                        numlines: mapped
                    },
                    type: "bar"
                }
            });
    
